@import '../../assets/styles/variables.css';
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	width: 100%; 
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}


@font-face {
  font-family: "English";
  src: url(../../FontFamily/English/EnglishFont.otf);
}

.we {
  background-image: url("../../assets/images/bgVector.svg");
  background-size: cover;
  background-position: 0 -80px;
  

}

.frame {
  align-items: center;
  background-color: #ffffff;
  border-radius: 36px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  margin-top: 24px;
}

.frame .text-wrapper {
  color: #313D72;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  font-variant: small-caps;
  line-height: 36px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  font-family: var(--English-font);
  text-transform: uppercase;
}

.frame .typcn-arrow-up {
  height: 24px;
  position: relative;
  width: 24px;
}

.computerImg {}

@media screen and (max-width:1199px) {
  .computerImg {
    width: 623px;
    height: 641px;
  }

  .we {
    background-image: url("");

  }

}

@media screen and (max-width:600px) {
  .computerImg {
    width: 323px;
    height: 341px;
  }

  .we {
    background-image: url("");

  }

  .CImg {
    width: 53px;
    height: 49px;
  }

  .frame .typcn-arrow-up {
    width: 18px;
    height: 18px;
  }

  .frame .text-wrapper {
    font-size: 16px;
  }

}

@media screen and (max-width:282px) {
  .computerImg {
    width: 223px;
    height: 241px;
  }

  .we {
    background-image: url("");

  }

  .BetterSolutionText {
    width: 100% !important;
    font-size: 24px !important;
    line-height: 28px !important;
  }

}