@import '../../assets/styles/variables.css';


@font-face {
  font-family: "English";
  src: url(../../FontFamily/English/EnglishFont.otf);
}

.we {
  background-image: url("../../assets/images/dots1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 900px;
  width: 100%;
  position: absolute;
  z-index: -1;

}

.frame {
  align-items: center;
  background-color: #ffffff;
  border-radius: 36px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  padding: 8px 24px;
  position: relative;
  margin-top: 24px;
}
.no-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.frame .text-wrapper {
  color: #313D72;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  font-variant: small-caps;
  line-height: 36px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  font-family: var(--English-font);
  text-transform: uppercase;
}

.frame .typcn-arrow-up {
  height: 24px;
  position: relative;
  width: 24px;
}

.computerImg {}

@media screen and (max-width:1199px) {
  .computerImg {
    width: 623px;
    height: 641px;
  }

  .we {}

}

@media screen and (max-width:600px) {
  .computerImg {
    width: 323px;
    height: 341px;
  }

  .we {
    height: 700px;
    top: -4%;
  }

  .CImg {
    width: 53px;
    height: 49px;
  }

  .frame .typcn-arrow-up {
    width: 18px;
    height: 18px;
  }

  .frame .text-wrapper {
    font-size: 16px;
  }

}

@media screen and (max-width:282px) {
  .computerImg {
    width: 223px;
    height: 241px;
  }





}