.make-bg {
    position: relative;
    overflow: hidden;
  }
  
  .make-bg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/images/Makeappointement.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #313D72; 
    opacity: 0.578;
    z-index: 1; 
  }
  
  .text-content-make {
    position: relative;
    z-index: 2; /* Place the text above the background overlay */
   
  }

  @media screen and (max-width:800px) {
    .make-bg::before{
        background-image: url("../../assets/images/FormbgSm.svg");

    }
  }