.bg1{
  
        background-image: url("../../assets/images/SolutionBG.svg");
background-repeat: no-repeat;  
height: 670px; /* Adjust as needed */

}

.bg2{

    background-image: url("../../assets/images/SecSolutionBG.svg");
background-repeat: no-repeat;  
background-position: 200px;
height: 670px; /* Adjust as needed */


}
.bg3 {
    background-image: url("../../assets/images/thirdSolutionBG.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 670px; /* Adjust as needed */

  }

  @media screen and (max-width:1200px) {
    .bg1{
        background-image: url("../../assets/images/SolutionBGSM.svg");
        height: 450px; /* Adjust as needed */


    }
    .bg2{
        background-image: url("");
        visibility: visible;

    }
    .bg3{
        background-image: url("../../assets/images/SecSolutionBGSM.svg");
        background-position: right; /* Adjust as needed */
        height: 372px;
        width: 100%;
        float: right;
        position: relative;
        
    }
  }
  