/* Add this to your stylesheet or in a style tag in your component */

  /*
 
  .PortfolioBgSec{
    background-image: url("../../assets/images/BG.png");
    background-size: contain;
    background-position: 0 900px;
    background-repeat: repeat-y;
  
  }
   */
  
   .PortfolioBgFirst{
    background-image: url("../../assets/images/dots1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .PortfolioBgSec{
    background-size: cover;
    background-repeat: repeat-y;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 48%;
  
  }

   .basicVector {
    background-image: 
    url(../../assets/images/VectorsPortfolio.svg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center 100px;
    height: 100%;
    width: 100%;
    max-width: 1195px;
    position: absolute;
  }
  .rightVector {
    background-image:url(../../assets/images/RightVectorPortfolio.svg);
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    top:129px;
    height: 862px;
    width: 100%;
    max-width: 303px;
    position: absolute;
  }
  .leftVector {
    background-image:url(../../assets/images/LeftVectorPortfolio.svg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top:20.4%;
    height: 862px;
    width: 100%;
    max-width: 303px;
    position: absolute;
    transform: translateY(50%); /* Center the element vertically */

  }

   .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  /* Media query for small screens */
  @media (max-width: 1024px) {
    .basicVector{
      /* background-image: url(""); */
      width: 92%;
    }
    .leftVector{
      display: none;

    }
    .rightVector{
      display: none;
    }
    .PortfolioBgFirst{
      top: 30%;
    }
   
  }

  @media screen and (max-width:900px) {
    .PortfolioBgFirst{
      height: 100%;
    }
    
   .PortfolioBgFirst{
    display: none;
   }
  }

  @media screen and (max-width:767px) {
    .PortfolioBgFirst{
      display: unset;
      top: -16%;
    }
   
  }
  @media screen and (max-width:600px) {
    .basicVector{
      background-size: contain;
    }
    .PortfolioBgFirst{
      height: 700px;
      top: 0%;
    }
    .PortfolioBgSec{
      height: 1000px;
      top: 8%;
    }
  }
  