.logoGap{
    gap: 100px;
}
@keyframes rotateTopLine {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  }
  
  @keyframes rotateBottomLine {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(45deg) translate(-4px, -6px);
    }
  }
  @keyframes rotateTopLineReverse {
    0% {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    100% {
      transform: rotate(0);
    }
  }
  
  @keyframes rotateBottomLineReverse {
    0% {
      transform: rotate(45deg) translate(-4px, -6px);
    }
    100% {
      transform: rotate(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Add more keyframes as needed */
  

@media screen and (max-width:1364px) {
    .logoGap{
        gap: 20px;
    }
    .navText{
        width: 100px !important;
    }
}
